@import "mixings";

.sec-hero-login {
    position: relative;

    .fundo-hero {
        width: 100vw;
        height: 100vh;
        max-width: 100%;

        background: url("../imagens/fundo-bg-login-1.jpg");
        background-size: cover;
        background-position: center;
    }

    .container-login {
        position: absolute;
        right: 0;
        width: 27vw;
        background-color: #fff;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        align-content: center;
        padding: 4vw 6vw 4vw 4vw;
        border-radius: 50px 0 0 50px;

        h3 {
            font-size: 1.25rem;
            font-family: $font-tt;
            font-weight: bold;
            color: $corPrincipal;
            margin-top: 2rem;
        }

        .single-input {
            width: 100%;
            background-color: #f9f9f9;
            display: flex;
            margin-top: 15px;
            align-items: center;
            align-content: center;
            border-radius: 12px;
            border: 1px solid #d8d8d8;
            .ico {
                padding: 8px 16px;
            }

            input {
                border: none;
                width: 100%;
                outline: none;
                font-size: 1rem;
                padding: 10px;
                background-color: transparent;
            }
        }

        .submit-btn {
            margin-top: 15px;
        }

        button:focus {
            outline: none;
        }
    }
}
